<!DOCTYPE html>
<html land = "en">


<head>
    <meta charset=" UTF-8 ">
    <meta name = "Viewport" content = "width=device-width, initial-scale=1.0">
    <title> News </title>
    <link rel = "stylesheet" href = "selector.css">
</head>

<body>
    <h1>News For Today</h1>
    <!-- <form action =  -->
    <form action = "/base.html" method="post">
    <p>
        <label for= "Name" > Enter your Name </label>
        <input type = 'text' name = "fname" placeholder="John" id ="Name">
    </p>
    <p>
        <label for= "Last Name"> Enter your Last Name </label>
        <input type = 'text'  name = "lname" placeholder="Doe" id ="Last Name">
    </p> 
    <p>
        <label for= "Search News">Find News Here: </label>
        <input type = 'text' name = "News" placeholder="Doe" id ="Search News">
    </p>
        <input type="submit" value="submit"/>
</form>  
</body>


</html>